{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
<!-- dont like the spaces for this heading, so adding a style, local styule-->
    <style>
        h3
        {
            padding-bottom: 5vh;
        }
    </style>
    <h3>Here is your lookup</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Name of the company</th>
              <th scope="col">Current Price</th>
              <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for key in lookups %}
                    {% if key=="price" %}
                        <td> {{ lookups[key] | usd }}</td>
                    {% else %}
                      <td> {{ lookups[key] }} </td>
                    {% endif %}

                {% endfor %}
            </tr>
      </tbody>
    </table>
{% endblock %}
