{% extends "auctions/layout.html" %}
{% block body_header %}
Create Listing
{% endblock %}

{% block body %}
    <div class="container text-center">
        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <!-- {{ form }} -->
            <div class="input-group mb-4 col-6">
                {{ form.title }}
            </div>
            <div class="input-group mb-4 col-6">
                {{ form.description }}
            </div>
            <div class="input-group mb-4 col-6">
                {{ form.starting_bid }}
                <span class="input-group-text">$</span>
            </div>
            <div class="input-group mb-4 col-6">
                {{ form.url }}
            </div>
            
            <div class="input-group mb-4 col-6">
                {{ form.categories }}
            </div>
            <!-- <select class="mdb-select md-form" multiple>
                <option value="" disabled selected>Choose your country</option>
                <option value="1">USA</option>
                <option value="2">Germany</option>
                <option value="3">France</option>
                <option value="4">Poland</option>
                <option value="5">Japan</option>
            </select> -->

            {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}

            <button type="submit" class="btn ml-3 btn-outline-primary">Create Listing</button>
        </form>
    </div>
{% endblock %}