{% extends "network/layout.html" %}


{% block body %}

<div id="post-followers">

</div>

<script>
    let loading = true;
    let current_page = 1;
    fetch("/api/get_posts", {
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        method: "POST",
        body: JSON.stringify({
            following: true,
            page: current_page
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.hasOwnProperty("error")) {
            // TODO: display some kind of errors
        }

        const cards = document.querySelector("#post-followers");
        cards.innerHTML = "";
        data['posts'].forEach(post => {
            cards.innerHTML += `
            <div class="mb-4">
                <div class="card col-6 m-auto p-0">
                    <div class="card-header">
                        <a href="/profile/${post.user}"><strong> ${post.user}</strong></a>
                        ${ post.timestamp }
                        ${ post.likes }
                    </div>
                    <div class="card-body">
                        <p class="card-text">${ post.body }</p>
                    </div>
                </div>
            </div>
            `
        });
        
        if (data['posts'].length == 0) {
            cards.innerHTML = `
            <div class="my-4">
                <div class="col-6 m-auto p-0">
                    <p>
                        You aren't following anybody
                    </p>
                    <a href="/">
                        <button class="btn btn-primary">Return to home</button>
                    </a>
                </div>
            </div>
            `
        }
        

    })
</script>

{% endblock %}