{% extends "network/layout.html" %}

{% block body %}

<h1 class="col-6 m-auto p-0"> {{ profile_user }} </h1>

<div class="col-6 m-auto p-0">
    <p >Followed {{ followed }}</p>
    <p >Followers {{ followers }}</p>

    {% if can_follow %} 

    <form action="{% url 'following' %}" method="POST" class="form-group">
        {% csrf_token %}
        <input hidden name="followed" value="{{profile_user}}"/>
        <button type="submit" class="btn btn-primary">follow</button>
    </form>

    {% endif %}
</div>

<div id="post">

</div>

<script>

    let loading = true;
    let current_page = 1;
    fetch("/api/get_posts", {
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        method: "POST",
        body: JSON.stringify({
            author: `{{ profile_user }}`,
            page: current_page
        })
    })
    .then(response => response.json())
    .then(data => showData(data)) // IMPORTED FROM JAVSCRIPT.JS
</script>
{% endblock %}