{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h2 class="mb-3">Create Page</h2>

    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
        <!-- {{ form }} -->
        <div class="input-group mb-4 col-6">
            {{ form.title }}
        </div>
        <div class="input-group mb-4 col-6">
            {{ form.content }}
        </div>

        {% if code != 200 %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        <button type="submit" class="btn ml-3 btn-outline-primary">Create Page</button>
    </form>

{% endblock %}